#!/usr/bin/env bash

# ------------- system commands used by this script --------------------

ID=/usr/bin/id;
ECHO=/bin/echo;

MOUNT=/bin/mount;
RM=/bin/rm;
MV=/bin/mv;
CP=/bin/cp;
TOUCH=/bin/touch;
MKDIR=/bin/mkdir;

RSYNC=/usr/bin/rsync;


# ------------- file locations -----------------------------------------

MOUNT_DEVICE=/dev/sdc1;
SNAPSHOT_RW=/media/backups;
EXCLUDES=${DIR}/backup_exclude;
SSH_IDENTITY=${HOME}/.ssh/id_backups;


# ------------- systems to backup --------------------------------------

declare -A backups=(
#    ["host1"]="user@host1:/home/user/"
#    ["host2"]="/home/user/"
);
